/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

* {
  margin-inline: 0;
  margin-block: 0;
  padding-inline: 0;
  padding-block: 0;
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  padding: var(--padding-size);
  background: fixed url("../images/cover-image.png") center / cover;
  font-size: 18px;
  container-type: inline-size;
  font-family: var(--font-family, 'monospace');
  min-width: 350px;
  font-weight: var(--font-weight-regular);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and ( width >= 768px ) {
  .page {
    gap: 60px;
    --title-font-size: 120px;
  }
}

@media screen and ( width >= 1024px ) {
  .page {
    gap: 60px;
    --title-font-size: 157px;
  }
}

.header {
  display: grid;
  grid-template: 60vw 51.2vw 60.8vw / 1fr;
  grid-template-areas:
  "nav"
  "title"
  "subtitle";
  text-align: left;
  align-items: center;
  position: relative;
  padding-block-end: 10px;
  container-type: inline-size;
  /*min-height: 100vh;*/
}


@media screen and ( width >= 768px ) {
  .header {
    display: grid;
    grid-template: 57.68vw 1fr 57.67vw / 1fr 47vw;
    grid-template-areas:
    "nav nav"
    "title title"
    "decoration subtitle";
    text-align: left;
    align-items: center;
    padding-block-end: 20px;
  }
}

@container ( width >= 984px )
{
  .header {
    display: grid;
    grid-template: 29.2vw 1fr 29.3vw / 1fr 48.05vw;
    grid-template-areas:
    "nav nav"
    "title title"
    "decoration subtitle";
    text-align: left;
    align-items: center;
  }
}

.decorated-zone::before {
  content: "";
  border-block-start: 1px solid var( --decoration-color);
  border-inline-end: 1px solid var( --decoration-color);
  inline-size: 25px;
  block-size: 25px;
  grid-area: nav;
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
}



.decorated-zone::after {
  content: "";
  border-block-end: 1px solid var( --decoration-color);
  border-inline-start: 1px solid var( ---decoration-color);
  inline-size: 25px;
  block-size: 25px;
  grid-area: subtitle;
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
}

.header__rec::before {
  content: "rec";
  text-transform: uppercase;
  color: var( --decoration-color);
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 0;
  inline-size: 52px;
  block-size: 26px;
  word-spacing: 1rem;
}

.header__rec {
  text-transform: uppercase;
  color: transparent;
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
  inline-size: 52px;
  block-size: 26px;
  word-spacing: 1rem;
}

.header__rec::after {
  content: "";
  position: absolute;
  inset-inline-end: 8px;
  inset-block-start: 7px;
  border: 1px solid var( --decoration-color);
  background-color: var( --decoration-color);
  border-radius: 50%;
  inline-size: 9px;
  block-size: 9px;
  box-shadow: 0px 0px 2px var( --decoration-color),
              0px 0px 2px var( --decoration-color),
              0px 0px 2px var( --decoration-color),
              0px 0px 2px var( --decoration-color);
}

.header__theme-menu {
  justify-self: end;
  grid-area: nav;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and ( width >= 768px ) {
  .header__title {
    margin-inline-start: var(--title-margin-inline-start);
  }

  .decorated-zone::after {
    grid-area: decoration;
  }
}

@media screen and ( width >= 1024px ) {
  .header__theme-menu {
    margin-block-start: 0;
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-list {
  list-style-type: none;
}

.header__theme-menu-button {
  background: none;
  inline-size: 70px;
  block-size: 26px;
  vertical-align: middle;
  border: none;
  color: var( --decoration-color);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  text-transform: lowercase;
  transition: border 0.2s linear;
}

.header__theme-menu-button:hover {
  border: 1px solid var( --decoration-color);
}

.header__theme-menu-button:focus {
  text-decoration: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var( --decoration-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var( --decoration-color);
  pointer-events: none;
}

.header__title {
  grid-area: title;
  font-weight: var(--font-weight-bold);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--title-shadow-color);
  font-family: var(--font-family, 'monospace');
}

.header__subtitle {
  grid-area: subtitle;
  font-size: var( --common-font-size);
  font-weight: var(--font-weight-bold);
  text-shadow: 0 4px 4px var( --dark-shadow-color);
  color: var(--subtitle-color);
  line-height: var(--common-line-height);
  font-family: var(--font-family, 'monospace');
}

.title-decor {
  background-color: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  container-type: inline-size;
}

@media screen and (width >= 768px) {
  .main {
    gap: 80px;
  }
}

.section {
  display: grid;
  grid-template: 1fr / 32.5% repeat(2, 1fr);
  gap: 20px;
  grid-auto-flow: row;
  align-items: center;
  inline-size: 100%;
  container-type: inline-size;
}

.section#img  {
  gap: 10px;
}

@media screen and (width >= 768px) {
  .section#img {
    gap: 20px;
  }
}

.section__content {
  grid-row: 2;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}

#advice .section__content {
  grid-row: 2;
  grid-column: 1/ -1;
  padding-block-start: 43px;
}

@container ( width >= 728px  )
{
  #why .section__content,
  #advice .section__content {
    grid-row: 1;
    grid-column: 2 / span 2;
  }

  #advice .section__title,
  #why .section__title,
  #what .section__title  {
    grid-row: 1 / -1;
    grid-column: 1 ;
  }
}

.section__title {
grid-row: 1;
grid-column: 1 / -1;
line-height: var(--common-line-height);
color: var(--decoration-color);
align-self: start;
text-align: start;
font-size: var(--common-font-size);
}

@container ( width >= 984px  )  {
  #what .section__title  {
    grid-row: 1 / -1;
    grid-column: 1 ;
  }

  #what .section__content {
    grid-row: 2;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.section__item {
 list-style-type: none;
}

.item__title {
  font-weight: normal;
  margin-block-end: 10px;
}

.section__subtitle {
  font-size: var(--common-font-size);
  grid-row: 1;
  grid-column: 2 / -1;
  align-self: self-start;
}

#img .section__subtitle {
  grid-column: 1 / -1;
}

@container (width < 728px) {
  #advice .section__subtitle {
    grid-row: 2;
    grid-column: 1 / -1;
  }

  #advice .section__content {
    grid-row: 3;
    padding-block-start: 0;
  }
}

#img .section__content {
  display: grid;
  gap: 10px;
  grid-auto-rows: auto;
}


@container ( width >= 768px )
{
  #img .section__content {
   /* display: grid;*/
    grid-column: 1 / -1;

    grid-template-rows :
    clamp(10.667rem, -0.667rem + 26.563vw, 14.444rem)
    clamp(12.778rem, -1.389rem + 33.203vw, 17.5rem)
    clamp(17.667rem, -0.667rem + 42.969vw, 23.778rem);
    grid-template-columns:
    repeat(3, 1fr);
    gap: 20px;
  }

  .section__item#sunset {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .section__item#ice-cream {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .section__item#tape {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .section__item#books {
    grid-column: 2;
    grid-row: 2;
  }

  .section__item#street {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
}

.item__title {
  display: block;
  color: var(--header-color);
  line-height: var(--common-line-height);
  font-size: var(--common-font-size);
  font-family: var(--font-family, 'monospace');
  font-weight: var(--font-weight-bold);
}

.item__content {
  color: var(--paragraph-color);
  font-size: var(--common-font-size);
  line-height: var(--common-line-height);
  font-weight: normal;
  font-family: var(--font-family, 'monospace');
}

.item__accent {
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

.content__link {
  color: inherit;
  text-decoration: none;
  transition: border 0.2s linear;
}

.content__link:hover {
  border-block-end: 1px solid var(--paragraph-color);
}

.content-link:focus {
  border: 1px solid var(--accent-color);
}

.section__img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  margin-block: 0;
}

.footer {
  display: grid;
  grid-template: 60.8vw 30% 60.8vw / 1fr;
  grid-template-areas:
  "start"
  "title"
  "finish";
  text-align: left;
  align-items: center;
  position: relative;
  min-height: 100vh;
  padding-block-start: 10px;
}

.footer__title {
grid-area: title;
font-weight: var(--font-weight-bold);
font-size: var(--title-font-size);
line-height: var(--title-line-height);
color: var(--title-color);
text-shadow: 4px 4px 0 var(--title-shadow-color);
font-family: var(--font-family, 'monospace');
text-align: center;
}

@container ( 355px < width <= 728px )
{  /* 375px < width <= 768px */

  .footer {
    display: grid;
    grid-template: 60.2vw 1fr 60.2vw / 1fr;
    grid-template-areas:
    "start"
    "title"
    "finish";
    text-align: left;
    align-items: center;
    position: relative;
  }
}

@container ( width >= 728px )
{
  .footer {
    display: grid;
    grid-template: 56vw 1fr 58vw / 1fr;
    grid-template-areas:
    "start"
    "title"
    "finish";
    text-align: left;
    align-items: center;
    position: relative;
    margin-block-start: 20px;
  }
}

@container ( width >= 984px )
{
  .footer {
    display: grid;
    grid-template: 29.2vw 1fr 29.3vw / 1fr;
    grid-template-areas:
    "start"
    "title"
    "finish";
    text-align: left;
    align-items: center;
    position: relative;
    margin-block-start: 20px;
  }
}
