/*ia
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --paragraph-color: #F1B2CE;
  --accent-color: #FF0070;
  --header-color: #000028;
  --title-color: #DB00FF;
  --font-family: 'IBM Plex mono';
  --padding-size: clamp(10px, 2.545vw + 0.458px, 20px);
  --title-font-size: clamp(6.444rem, 5.128rem + 6.317vw, 8.722rem);
  --title-margin-inline-start: clamp(-0.833rem, 0rem + 1.953vw, -1.111rem);
  --common-font-size: 18px;
  --footer-font-size: clamp(6.444rem, 5.128rem + 6.317vw, 8.722rem);
  --title-line-height: 82.5%;
  --common-line-height: 23.4px;
  --font-weight-bold: bold;
  --font-weight-regular: normal;
}


